# ==========================================================================
# GITIGNORE PARA REPOSITORIO PÚBLICO (CÓDIGO FUENTE PROTEGIDO)
# ==========================================================================

# IGNORAR CÓDIGO FUENTE LIMPIO (Solo se queda en tu computadora local)
main/

# Dependencias de Node.js
node_modules/

# Carpeta de producción local (gh-pages la maneja de forma independiente)
dist/

# Registros de errores de npm
npm-debug.log*
.md